Thumbs.db
output
model
*.csv
*.svm
*.obj
*.sdf
*.opensdf
*.exe
*.pdb
*.user
*.aps
*.rar
*.zip
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vsp
removemetoenablethis[Bb]in
removemetoenablethis[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/.git/
*.resharper